### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Project ###
HELP.md
.DS_Store
*.log

### IDE Specific ###

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# STS / Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/
*.md
trace_log.txt
